# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# EAGLE
*.b#*
*.s#*
*.l#*
*.pro
*.job
*.lck

# Misc
*.lock
*~
*.hex
*.elf
*.tmp
.DS_Store

# Polymer app
software/bower_components/
software/build/
software/node_modules/
